<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>

    <div class="container">

        <%- include('../partials/nav') %>
    
        <div class="create-blogs-content">
            <form action="/blogs/edit/<%= blog._id %>?_method=PUT" method="POST">
    
                <label for="title">News Headline</label>
                <input type="text" id="title" value="<%= blog.title %>" name="title" required>
    
                <label for="summary">News Summary</label>
                <input type="text" id="summary" name="summary" value="<%= blog.summary %>" required>
    
                <label for="body">News Content</label>
                <textarea id="body" required name="body"><%= blog.body %></textarea>
    
                <input type="submit" value="Update" class="btn">
    
            </form>
        </div>
        <%- include('../partials/footer') %>
    </div>

</body>
</html> 